.lineItem {
    display: flex;
    align-items: center;
    text-align: center;
}

.lineItem-img,
.lineItem-price {
    width: 20%;
}

.lineItem-name {
    width: 40%;
    padding: 0 0.5rem;
}

.lineItem-quantity,
.lineItem-delete {
    width: 10%;
}

.lineItem-quantity {
    padding: 0 0.5rem;
}

.productImg {
    width: 100%;
}